@(form: Form[ArticleModels.Article], submitCaption: String)
<div class="form-group input-group article-input">
  <input name="title" class="form-control" placeholder="Article title" type="text" value="@form("title").value"/>
</div>
<div class="form-group input-group article-input">
  <i class="glyphicon glyphicon-info-sign"></i>
  <label for="content" class="editor-hint">
    Editor uses Markdown markup language. You can read reference
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>.
  </label>
  <textarea id="content" name="content" class="form-control article-input"
            placeholder="Enter article content here ..." rows="20">@form("content").value</textarea>
</div>
<div class="form-group input-group article-input">
  <input name="tags" class="form-control article-input" placeholder="Tags (comma-separated)" type="text" value="@form("tags").value"/>
</div>
<div class="form-group input-group pull-right clearfix">
    <input class="btn btn-primary btn-lg" type="submit" value="@submitCaption" />
</div>
<div class="clearfix"></div>