@(page: models.Page[models.ArticleModels.ArticleListModel], paginationHandler: Int => Call)
  @import views.helpers.Markdown
  @if(page.list.nonEmpty) {
    <section>
    @for(article <- page.list) {
      <article id="@article.id" class="entry">
        <div class="main-content">
          <header>
            @templates.prettyDate(article.createdAt)
          <div class="article-header">
            <h2><a href="@routes.ArticleController.viewArticle(article.id)">@article.title</a></h2>
          </div>
          </header>
          <div class="body">
            <div class="content description">
              @Html(Markdown.toHtml(article.description))
            </div>
            <div class="faded-out"></div>
            <a href="@routes.ArticleController.viewArticle(article.id)" class="pull-right read-more">Read more</a>
            <div class="clearfix"></div>
          </div>
        </div>

        <footer>
          <ul class="footer-elements breadcrumb clearfix">
            <li class="footer-element">
              <i class="glyphicon glyphicon-user"></i>
              <strong>by </strong>
              <a href="@routes.UserController.viewProfile(article.author.username, None)">@article.author.username</a>
            </li>
              @if(article.commentsCount > 0) {
                <li class="footer-element">
                  <a href="@{routes.ArticleController.viewArticle(article.id) + "#comments"}">
                    <i class="glyphicon glyphicon-comment"></i>
                    <strong>@article.commentsCount</strong>
                  </a>
                </li>
              }
            @for(tag <- article.tags) {
              @templates.tag(tag)
            }
          </ul>
        </footer>
      </article>
    }
    </section>
  } else {
    <br>
    <div class="articles-not-found">
      <h3>There are no articles</h3>
    </div>
  }
  @templates.pagination(page, paginationHandler)

