@(implicit user: Principal, properties: models.ApplicationPropertyModels.MainTemplateProperties)
<nav class="navbar navbar-inverse nav">
  <div class="container"><div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
    <ul class="nav navbar-nav brand-container">
      <li>
        <a id="main-rss-link" href="@routes.ArticleController.fullRssFeed()" class="navbar-brand">
          <span>
            <i class="fa fa-rss-square"></i>
          </span>
        </a>
        <a href="@routes.ArticleController.allArticles()" class="navbar-brand" tabindex="-1">
          <span>
            <i id="application-icon"></i>
            <span id="application-name-container" class="ellipsis-overflow">@properties.instanceName</span>
          </span>
        </a>
      </li>
    </ul>
    @user match {
      case authenticatedUser: security.AuthenticatedUser => {
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a id="notifications-link" href="@routes.NotificationsController.getNotifications()" tabindex="-1"
            data-target="#" class="dropdown-toggle" data-toggle="dropdown" title="Recent notifications">
              <i class="glyphicon glyphicon-inbox"></i>
              <span class="badge notifications-badge"></span>
            </a>
            <ul id="notifications-dropdown" class="dropdown-menu inbox-dialog">
                </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          @authenticatedUser.authority match {
            case Admin => {
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        Administration <b class="caret"></b>
                      </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" tabindex="-1" data-href="@routes.ApplicationPropertiesController.postChangedInstanceName()">
                      <i class="glyphicon glyphicon-wrench"></i>
                      <span id="toggle-admin-mode">Your browser does not support admin mode</span>
                    </a>
                  </li>
                  <li>
                    <a href="@routes.UserController.listUsers(None)" tabindex="-1">
                      <i class="glyphicon glyphicon-user"></i> Role management
                    </a>
                  </li>
                </ul>
              </li>
            }
            case _ => {}
          }
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1">
            @authenticatedUser.username <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="@routes.UserController.viewProfile(authenticatedUser.username, None)" tabindex="-1">
                <i class="glyphicon glyphicon-file"></i> My articles
              </a>
            </li>
            <li>
              <a href="@routes.HelpController.markdownHelp()" tabindex="-1">
                <i class="glyphicon glyphicon-question-sign"></i> Online help
              </a>
            </li>
            <li>
              <a href="@routes.AuthenticationController.logout" tabindex="-1">
                <i class="glyphicon glyphicon-log-out"></i> Sign out
              </a>
            </li>
          </ul>
        </li>
        </ul>
      }
      case _ => {
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="@routes.AuthenticationController.showLoginPage" tabindex="-1">
              <i class="glyphicon glyphicon-log-in"></i> Sign in
            </a>
          </li>
        </ul>
      }
    }
  </div></div>
</nav>