@(title: String)(content: Html)(customPageScripts: Html)(implicit user: Principal, properties: models.ApplicationPropertyModels.MainTemplateProperties)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "styles.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "idea.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public/stylesheets", "tag-manager.css")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.min.css"))'>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public/images", "favicon.png")">
    <link rel="alternate" type="application/rss+xml" title="RSS subscribtion to @properties.instanceName" href="@routes.ArticleController.fullRssFeed()"/>
    @if(properties.hasTopPageBanner) {
      <link rel="stylesheet" media="screen" href="@{
        properties.topBannerCodePenId.get
      }.css">
    }
    @if(properties.hasBottomPageBanner) {
      <link rel="stylesheet" media="screen" href="@{
        properties.bottomBannerCodePenId.get
      }.css">
      }
  </head>
  <body>
    <div class="page-wrapper">
      @templates.mainHeader(user, properties)
      @* Inline styles for alert containers are necessary to prevent flashing in FF 29.01 on page load *@
      <div class="bb-alert-container">
        <div class="bb-alert alert alert-success center-block" style="display : none">
          <span>Success notification message content</span>
        </div>
        <div class="bb-alert alert alert-danger center-block" style="display : none">
          <span>Error notification message content</span>
        </div>
      </div>
      <div class="container global-block">
        <div class="page-banner col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
          <div class="banner-control" style="display : none">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-bookmark"></i>
                <a href="@routes.HelpController.adminHelp()">Codepen URL</a> for this banner:
              </span>
              <input type="text" class="form-control" placeholder="http://codepen.io/<username>/pen/<id>"
                @if(properties.topBannerCodePenId.isDefined) {
                  value="@{
                    properties.topBannerCodePenId.get
                  }"
                  }
              >
              <button class="btn btn-default" data-banner-submit-href="@{
                routes.ApplicationPropertiesController.postBannerId("topBanner")
              }">
                Apply
              </button>
            </div>
          </div>
          @if(properties.hasTopPageBanner) {
            <div data-banner-href="@{
              properties.topBannerCodePenId.get
            }.html"></div>
          }
        </div>
      </div>
      <div class="container main-container global-block">
        @content
        <div class="page-banner col-lg-offset-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
          <div class="banner-control" style="display : none">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-bookmark"></i>
                <a href="@routes.HelpController.adminHelp()">Codepen URL</a> for this banner:
              </span>
              <input type="text" class="form-control" placeholder="http://codepen.io/<username>/pen/<id>"
                @if(properties.bottomBannerCodePenId.isDefined) {
                  value="@{
                    properties.bottomBannerCodePenId.get
                  }"
                  }
              >
              <button class="btn btn-default" data-banner-submit-href="@{
              routes.ApplicationPropertiesController.postBannerId("bottomBanner")
            }">
              Apply
              </button>
            </div>
          </div>
          @if(properties.hasBottomPageBanner) {
            <div data-banner-href="@{
              properties.bottomBannerCodePenId.get
            }.html"></div>
          }
        </div>
      </div>
      <footer class="footer">
        <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12 global-block">
          <span class="pull-left">
            Powered by Antarcticle @build.BuildInfo.fullVersion
          </span>
          <span class="pull-right">
            <i class="icon-cogs"></i>
            Based on <a tabindex="-1" href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
          </span>
        </div>
      </footer>
    </div>
    @*Speed up page load a bit by placing all the scripts after the DOM tree*@
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "Global.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "NotificationsSupport.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "AdminModeSupport.js")" type="text/javascript"></script>
    @customPageScripts
    @if(properties.hasTopPageBanner) {
      <script src="@{
        properties.topBannerCodePenId.get
      }.js" type="text/javascript"></script>
    }
    @if(properties.hasBottomPageBanner) {
      <script src="@{
        properties.bottomBannerCodePenId.get
      }.js" type="text/javascript"></script>
    }
  </body>
</html>
