@()(implicit user: Principal = security.AnonymousPrincipal, properties: models.ApplicationPropertyModels.MainTemplateProperties = models.ApplicationPropertyModels.MainTemplateProperties(""))
@templates.main("Internal service error"){
  <div class="hero-unit">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1 class="error-title">Error 500</h1>
          <p class="lead">
            Internal server error
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Why am I seeing this?</h2>
        <br/>
        <p>Server is not able to process your request now, it may be overloaded, under maintenance or down altogether. The error has been recorded and a team of highly-trained monkeys is already on it's way to fix the problem.</p>
        <br/>
        <p><a class="btn btn-info" href="@routes.IndexController.index()">Just take me out of here!</a></p>
      </div>
    </div>
    <hr>
  </div>
} {

}