@(instanceName: String)(implicit user: Principal = security.AnonymousPrincipal)
@templates.main("Page not found", instanceName){
  <div class="hero-unit">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1 class="error-title">Oops, 404!</h1>
          <p class="lead">
            The page you were looking for could not be found
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Why am I seeing this?</h2>
        <br/>
        <p>It turns out that we have no suitable page for this address. This may happen due to a typo in address itself, or the page has been deleted by an administrator altogether. You may try to correct an address and hit the refresh button. </p>
        <br/>
        <p><a class="btn btn-info" href="@routes.ArticleController.allArticles()">Just take me out of here!</a></p>
      </div>
    </div>
    <hr>
  </div>
} {

}