- import org.jtalks.antarcticle.models.ArticleModels.ArticleDetailsModel
-@ val article: ArticleDetailsModel = null

h2= article.title
p
  != article.content
span= article.createdAt
span = article.author.username