- import org.jtalks.antarcticle.models.ArticleModels.ArticleListModel
-@ val articles: List[ArticleListModel] = Nil

p= "First template"

table
  caption Articles
  thead
    tr
      th Title
      th Description
      th Created at
      th Author
  tbody
  - articles foreach
    - article =>
      tr
        td= article.title
        td
          != article.description
        td= article.createdAt
        td= article.author.username
