@(page: models.Page[models.ArticleModels.ArticleListModel], lastUsedTags: String = "")(implicit user: Principal)

@templates.main("Articles") {
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="clearfix">
        <div class="pull-left tag-search-container">
          <form class="tags-search-form" method="get" action="@routes.ArticleController.searchByTags">
            <div class="bootstrap-tagsinput">
              <input data-role="tagsinput" value="@lastUsedTags" class="form-control tags-input" name="tag" placeholder="Tags filter" />
            </div>
            <button class="btn btn-sm btn-info tag-search-button">Find</button>
          </form>
        </div>
        @if(user.can(Create, Article)) {
          <div class="pull-right create-article-button">
            <a class="btn btn-lg btn-primary" href="@routes.ArticleController.getNewArticlePage">
              <i class="glyphicon glyphicon-pencil icon-white"></i> Write article
            </a>
            <div class="clearfix"></div>
          </div>
        }
      </div>
      @templates.bareArticleList(page, routes.ArticleController.listArticlesTaggedAndPaged(Some(lastUsedTags), _))
    </div>
  </div>
}
