@(article: models.ArticleModels.ArticleDetailsModel,
   comments: List[models.CommentModels.Comment])(implicit user: Principal)
@import views.helpers.Markdown

@templates.main(article.title) {
  @if(user.can(Manage, article)) {
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="pull-right page-header">
          <a class="btn btn-sm btn-primary" href="@routes.ArticleController.editArticle(article.id)">
            <i class="glyphicon glyphicon-pencil icon-white"></i> Edit
          </a>
          <a class="btn btn-sm btn-danger delete-link" href="@routes.ArticleController.removeArticle(article.id)">
            <i class="glyphicon glyphicon-remove icon-white"></i> Delete
          </a>
        </div>
      </div>
    </div>
  }
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <article id="@article.id" class="entry">
        <div class="main-content">
          <header>
            @templates.prettyDate(article.createdAt)
            <h2><a href="@routes.ArticleController.viewArticle(article.id)">@article.title</a></h2>
          </header>
          <div class="body">
            <div class="content clearfix">@Html(Markdown.toHtml(article.content))</div>
          </div>
        </div>
        <footer>
          <ul class="footer-elements breadcrumb clearfix">
            <li>
              <i class="glyphicon glyphicon-user"></i>
              <strong>by </strong>
              <a href="@routes.UserController.viewProfile(article.author.username)">@article.author.username</a>
            </li>
            @for(tag <- article.tags) {
              <li class="pull-right">
                <i class="glyphicon glyphicon-tags"></i> <a href="#"> @tag</a>
              </li>
            }
          </ul>
        </footer>
      </article>
      <section class="comments" id="comments">
        <h3 class="comments-header">Comments</h3>
        @if(comments.isEmpty) {
          <div class="centralized-inputs">
            <h3>There are no comments yet</h3>
          </div>
        } else {
          @for(comment <- comments) {
            <article class="clearfix comment comment-other">
              <div class="comment-bubble comment-bubble-other">
                <header>
                  <span class="glyphicon glyphicon-user"></span>
                  <a href="@routes.UserController.viewProfile(comment.author.username)">@comment.author.username</a>
                  <time class="pull-right">
                    <span class="glyphicon glyphicon-calendar"></span> @comment.createdAt
                  </time>
                </header>
                <div>@Html(Markdown.toHtml(comment.content))</div>
              </div>
              <div class="toolb">
              <a id="@comment.id" class="btn btn-default btn-xs permalink" title="Get a permanent link to this comment"
                href="@{"#" + comment.id}">
                  <span class="glyphicon glyphicon-link"></span>
              </a>
              @if(user.can(Manage, comment)) {
                <a class="btn btn-default btn-xs" title="Edit comment"
                href="#">
                  <span class="glyphicon glyphicon-edit" ></span>
                </a>
                <a class="btn btn-default btn-xs delete-link" title="Remove comment completely"
                href="@routes.CommentController.removeComment(article.id, comment.id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              }
              </div>
            </article>
          }
        }
        @if(user.can(Create, Comment)) {
          <form class="clearfix comment-bubble comment-bubble-other default-form" action="@routes.CommentController.postNewComment(article.id)" method="post">
            <div class="form-group">
              <i class="glyphicon glyphicon-info-sign"></i>
              <label class="editor-hint">
                Editor uses Markdown markup language. You can read reference <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                here</a>.
              </label>
              <textarea name="content" class="form-control" cols="40" placeholder="Enter your comment here ..." rows="10"></textarea>
            </div>
            <input id="comment_submit" class="btn btn-primary pull-right" type="submit" value="Post" />
          </form>
        }
      </section>
    </div>
  </div>
}
