@(article: models.ArticleModels.ArticleDetailsModel, comments: Seq[models.CommentModels.Comment], instanceName: String)(implicit user: Principal, request: play.api.mvc.Request[Any])
@import views.helpers.Markdown

@templates.main(article.title, instanceName) {
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="pull-right page-header">
        @if(user.can(Manage, article)) {
          <a class="btn btn-sm btn-primary article-toolbar" href="@routes.ArticleController.editArticle(article.id)">
            <i class="glyphicon glyphicon-pencil icon-white"></i> Edit
          </a>
          <a class="btn btn-sm btn-danger delete-link article-toolbar" href="@routes.ArticleController.removeArticle(article.id)">
            <i class="glyphicon glyphicon-remove icon-white"></i> Delete
          </a>
        }
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="share42init pull-right" data-top1="@{if(user.can(Manage, article)) 112 else 82}" data-top2="15"
        data-margin="20" data-url="@routes.ArticleController.viewArticle(article.id).absoluteURL()"
        data-title="@article.title" data-path="@routes.Assets.at("/public/images", "")"></div>
      <article class="entry">
        <div class="main-content">
          <header>
            @templates.prettyDate(article.createdAt)
            <h2>@article.title</h2>
          </header>
          <div class="body">
            <div class="content clearfix">@Html(Markdown.toHtml(article.content))</div>
          </div>
        </div>
        <footer>
          <ul class="footer-elements breadcrumb clearfix">
            <li class="footer-element">
              <i class="glyphicon glyphicon-user"></i>
              <strong>by </strong>
              <a href="@routes.UserController.viewProfile(article.author.username, None)">@article.author.username</a>
            </li>
              @for(tag <- article.tags) {
                @templates.tag(tag)
              }
          </ul>
        </footer>
      </article>
      <section class="comments">
        <h3 class="comments-header"><b>@comments.size</b>Comments</h3>
        @if(comments.isEmpty) {
          <div class="centralized-inputs">
            <h3>There are no comments yet</h3>
          </div>
        } else {
          @for(comment <- comments) {
            <article class="clearfix comment comment-other">
              <a id="comments"></a>
              <div id="comment@comment.id" class="comment-bubble comment-bubble-other">
                <header>
                  <span class="glyphicon glyphicon-user"></span>
                  <a href="@routes.UserController.viewProfile(comment.author.username, None)">@comment.author.username</a>
                  <time class="pull-right" datetime="@comment.createdAt.format("yyyy-MM-dd hh:mm")">
                    <span class="glyphicon glyphicon-calendar"></span> @comment.createdAt.format("dd-MMM-yyyy hh:mm")
                  </time>
                </header>
                <div>@Html(Markdown.toHtml(comment.content))</div>
              </div>
              <div class="toolb">
              <a id="@comment.id" class="btn btn-default btn-xs permalink" title="Get a permanent link to this comment"
                 href="@{"#" + comment.id}">
                  <span class="glyphicon glyphicon-link"></span>
              </a>
              @if(user.can(Manage, comment)) {
                <a class="btn btn-default btn-xs edit-comment" title="Edit comment"
                   href="@{routes.CommentController.editComment(article.id, comment.id) + "#" + comment.id}">
                  <span class="glyphicon glyphicon-pencil" ></span>
                </a>
                <a class="btn btn-default btn-xs delete-link" title="Remove comment completely"
                   href="@routes.CommentController.removeComment(article.id, comment.id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              }
              </div>
            </article>
          }
        }
        @if(user.can(Create, Comment)) {
          <form class="clearfix comment-bubble comment-bubble-other default-form" action="@routes.CommentController.postNewComment(article.id)" method="post">
            <div class="form-group">
              <textarea name="content" class="form-control" cols="40" placeholder="Enter your comment here ..." rows="10"></textarea>
            </div>
            <i class="glyphicon glyphicon-info-sign"></i>
            <label class="editor-hint">
              Editor uses Markdown markup language. You can read reference <a href="@routes.HelpController.markdownHelp()" target="_blank">
              here</a>.
            </label>
            <input id="comment_submit" class="btn btn-primary pull-right" type="submit" value="Post" />
          </form>
        }
      </section>
    </div>
  </div>
}{
    <script src="@routes.Assets.at("/public/javascripts", "FormHandler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "highlight.pack.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "share42.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "bootbox.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "DeleteLinkHandler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/public/javascripts", "PermalinkSupport.js")" type="text/javascript"></script>
}
