@(article: models.ArticleModels.ArticleDetailsModel)(implicit request: Request[AnyContent])
@templates.main(article.title) {
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <article id="@article.id" class="entry">
                <div class="main-content">
                    <header>
                        @templates.prettyDate(article.createdAt)
                        <h2><a href="@routes.ArticleController.viewArticle(article.id)">@article.title</a></h2>
                    </header>
                    <div class="body">
                        <div class="content clearfix">@article.content</div>
                    </div>
                </div>
                <footer>
                    <ul class="footer-elements breadcrumb clearfix">
                        <li>
                            <i class="glyphicon glyphicon-user"></i>
                            <strong>by </strong>
                            <a href="@routes.UserController.viewProfile(article.author.username)">@article.author.username</a>
                        </li>
                        @for(tag <- article.tags) {
                            <li class="pull-right">
                                <i class="glyphicon glyphicon-tags"></i> <a href="#"> @tag</a>
                            </li>
                        }
                    </ul>
                </footer>
            </article>
            <section class="comments" id="comments">
                <h3 style="border-bottom : 1px dashed #646464">Comments</h3>
                <div class="centralized-inputs">
                    <h3>There are no comments yet</h3>
                </div>
                <form class="clearfix comment-bubble comment-bubble-other" id="comments_form" method="post">
                    <div class="form-group ">
                        <label class="editor-hint">
                            Editor uses Markdown markup language. You can read reference <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                            here</a>.
                        </label>
                        <textarea class="form-control" cols="40" placeholder="Enter your comment here ..." rows="10">
                        </textarea>
                    </div>
                    <input class="btn btn-primary pull-right" name="commit" type="submit" value="Post" />
                </form>
            </section>
        </div>
    </div>
}