@(page: models.Page[models.ArticleModels.ArticleListModel])(implicit user: Principal)

@templates.main("Articles") {
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="clearfix">
        <div class="tag-search pull-left">
          <form class="tags-search-form" method="get" action="@routes.ArticleController.searchByTags">
            <div class="bootstrap-tagsinput">
              <input type="text" style="display: none;" name="tag" id="tags_filter" placeholder="Tags filter">
              <input type="text" class="form-control tags-inner-input" placeholder="Tags filter">
              @if(!page.lastUsedTags.isEmpty) {
                  <ul class="tags-input">
                  @for( tag <- page.lastUsedTags.split(" ")) {
                    <li>@tag<a href="#" class="remove-tag">x</a></li>
                  }
                  </ul>
              }
            </div>
            <button class="btn btn-sm btn-info tag-search-button">Find</button>
          </form>
        </div>
        @if(user.can(Create, Article)) {
          <div class="pull-right create-article-button">
            <a class="btn btn-lg btn-primary" href="@routes.ArticleController.getNewArticlePage">
              <i class="glyphicon glyphicon-pencil icon-white"></i> Write article
            </a>
            <div class="clearfix"></div>
          </div>
        }
      </div>
        @if(page.lastUsedTags.isEmpty) {
            @templates.bareArticleList(page, routes.ArticleController.listArticlesPaged(_))
        } else {
            @templates.bareArticleList(page, routes.ArticleController.listArticlesTaggedAndPaged(page.lastUsedTags, _))
        }

    </div>
  </div>
}
