@(form: Form[ArticleModels.Article], sourceArticle: Option[models.ArticleModels.ArticleDetailsModel])(implicit user: Principal, properties: models.ApplicationPropertyModels.MainTemplateProperties)
@import models.ArticleModels.Language
@templates.main(if (sourceArticle.isDefined) "Article Translation" else "New Article") {
  <div class="row">
    <div class="col-md-9 center well2">
      <header class="page-header hide-on-preview">
        @sourceArticle match {
          case Some(article) => {
            <h2><i class="glyphicon glyphicon-file"></i> Article Translation</h2>
            <div><label class="source-article-label">Source article:</label><a href="@routes.ArticleController.viewArticle(article.id)">@article.title</a></div>
          }
          case None => {
            <h2><i class="glyphicon glyphicon-pencil"></i> New Article</h2>
          }
        }
      </header>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#write" data-toggle="tab">Write</a></li>
        <li><a id="preview-tab" data-href="@routes.ArticleController.previewArticle()" href="#preview" data-toggle="tab">Preview</a></li>
      </ul>

      <form class="default-form" method="POST" action="@routes.ArticleController.postNewArticle">

        <div class="tab-content">
          <div class="tab-pane fade in active" id="write">
            <div class="form-group input-group article-input">
              <input name="title" class="form-control" placeholder="Article title" type="text" value="@form("title").value"/>
            </div>
            <div class="form-group input-group article-input">
              <div class="article-toolbar">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <label for="content" class="editor-hint">
                        Editor uses Markdown markup language. You can read reference
                        <a href="@routes.HelpController.markdownHelp()" target="_blank">here</a>.
                    </label>
                <div class="input-group pull-right language-picker">
                    <label for="language-button" class="language-label">Choose language:</label>
                    <button id="language-button" class="btn btn-default btn-sm dropdown-toggle btn-primary" type="button" data-toggle="dropdown">
                      <span class="lang-label">@Language.values.head</span>&nbsp;&nbsp;<span class="caret"></span>
                      <input class="lang-input" name="language" type="hidden" value="@Language.values.head"/>
                    </button>
                    <ul class="dropdown-menu">
                      @for(language <- Language.values.iterator) {
                        <li><a class="language-item" href="#">@language</a></li>
                      }
                   </ul>
                </div>
              </div>
              <textarea id="content" name="content" class="form-control article-input"
              placeholder="Enter article content here ..." rows="20">@form("content").value</textarea>
            </div>
            <div class="tag-container"></div>
            <div class="form-group input-group article-input">
              <input id="tag_input" class="form-control article-input" placeholder="Tags (comma-separated)"
              type="text" value="@form("tags").value" data-url="@routes.TagsController.listTags()"/>
            </div>
          </div>
          <div class="tab-pane fade" id="preview"></div>
        </div>
        <div class="btn-toolbar pull-right clearfix">
          <input class="btn btn-primary" type="submit" value="Create article" />
          <a class="btn btn-danger" href="@routes.ArticleController.allArticles()">Discard</a>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
} {
  <script src="@routes.Assets.at("/public/javascripts", "FormHandler.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "bootstrap.tabs.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "tagmanager.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "typeahead.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "highlight.pack.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "bootbox.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "PreviewSupport.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "TagEditorSupport.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("/public/javascripts", "LanguageSupprt.js")" type="text/javascript"></script>
}