@(form: Form[ArticleModels.Article])(implicit user: Principal)
  @templates.main("Edit article") {
    <div class="row">
      <div class="col-md-9 center well2">
        <header class="page-header hide-on-preview">
          <h2><i class="glyphicon glyphicon-pencil"></i>Edit article</h2>
        </header>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
          <li><a id="preview-tab" data-href="@routes.ArticleController.previewArticle()" href="#preview" data-toggle="tab">
            Preview</a></li>
        </ul>
        <form class="default-form" method="POST" action="@routes.ArticleController.postArticleEdits">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="edit">
              <input type="hidden" name="id" value="@form("id").value">
              <div class="form-group input-group article-input">
                <input name="title" class="form-control" placeholder="Article title" type="text" value="@form("title").value"/>
              </div>
              <div class="form-group input-group article-input">
                <i class="glyphicon glyphicon-info-sign"></i>
                <label for="content" class="editor-hint">
                  Editor uses Markdown markup language. You can read reference
                  <a href="@routes.HelpController.markdownHelp()" target="_blank">here</a>.
                </label>
                <textarea id="content" name="content" class="form-control article-input"
                placeholder="Enter article content here ..." rows="20">@form("content").value</textarea>
              </div>
              <div class="tag-container"></div>
              <div class="form-group input-group article-input">
                <input id="tag_input" class="form-control article-input" placeholder="Tags (comma-separated)"
                type="text" value="@form("tags").value" data-url="@routes.TagsController.listTags()"/>
              </div>
            </div>
            <div class="tab-pane fade" id="preview"></div>
          </div>
          <div class="btn-toolbar pull-right clearfix">
            <input class="btn btn-primary btn" type="submit" value="Save"/>
            <a class="btn btn-danger btn" href="@routes.ArticleController.viewArticle(form("id").value.get.toInt)">
              Discard</a>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  }
