@(form: Form[ArticleModels.Article])(implicit user: Principal)
@templates.main("Edit article") {
  <div class="row">
    <div class="col-md-9 center well2">
      <header class="page-header">
        <h2><i class="glyphicon glyphicon-pencil"></i>Edit article</h2>
      </header>
      <form class="default-form" method="POST" action="@routes.ArticleController.postArticleEdits">
        <input type="hidden" name="id" value="@form("id").value">
        @templates.articleEditor(form, "Save edit")
      </form>
    </div>
  </div>
}
