@(page: models.Page[models.ArticleModels.ArticleListModel], username: String)(implicit user: security.Principal)
@templates.main("My articles") {
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="user-profile clearfix">
        <header class="user-profile-header clearfix">
          <div class="pull-left">
            <h2 class="username"><i class="glyphicon glyphicon-user"></i>@user</h2>
          </div>
          <div class="pull-right">
            <ul class="user-stats">
              <li class="">Articles<strong>@page.totalItems</strong></li>
            </ul>
          </div>
        </header>
        @templates.bareArticleList(page, routes.UserController.viewProfile(username, _))
        <div class="centralized-inputs">
        @if(page.totalPages == 0) {
          <h3>User has no articles.</h3>
        }
        </div>
      </div>
    </div>
  </div>
}
