@(form: Form[(String, String)])(implicit request: Request[AnyContent])
@templates.main("Sign In") {
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well2">
        @helper.form(routes.AuthenticationController.authenticate) {
            <legend>Please Sign In</legend>
            @form.globalError.map { error =>
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    @error.message
                </div>
            }
            <div class="centralized-inputs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="email" class="col-md-3 form-control" placeholder="Username" value="@form("email").value">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" class="col-md-3 form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group col-md-offset-2">
                    <button type="submit" class="btn btn-primary btn-lg col-md-10">Sign in</button>
                </div>
            </div>
        }
        </div>
    </div>
}
